// Container & Breakpoints
@use "sass:math";
$containerWidth: 1100;
$containerPadding: 40;
$containerSitePadding: math.div($containerPadding, 2);
$breakpoint1400: 1339.98 + px;
$breakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint480: 479.98 + px;
// Color

$blue: #051655;
$lightblue: #f3f6f9;
$red: #eb3d35;
$white: #fff;
$gray: #747887;
$lightgray: #e5e4e1;
// Burger Menu
$burgerBreakpoint: $breakpoint992;
$burgerActiveColor: "white";

// Fonts
$fontMain: "Montserrat", sans-serif;
$fontSecondary: "";